<div class="container mt-4">
  <form>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label>
          <mat-label>Selccionar item</mat-label>
        </label>
        <mat-select [formControl]="toppings" multiple class="form-control"
        [(value)]="selectedItems">
          <mat-option *ngFor="let topping of listaItems" [value]="topping">
            {{topping.name}}</mat-option>
        </mat-select>
      </div>
      <div class="form-group col-md-3">
        <label>
          <mat-label>Selccionar Ciudades</mat-label>
        </label>
        <mat-select [formControl]="controlCiudades" multiple class="form-control"
        [(value)]="selectedCiudades">
          <mat-option *ngFor="let ciudad of listaCiudades" [value]="ciudad">
            {{ciudad.name}}</mat-option>
        </mat-select>
      </div>
      <div class="form-group col-md-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" >
      </div>
      <div class="form-group col-md-3">
        <label for="value">Value</label>
        <input type="text" class="form-control" id="value" >
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
  <!--TABLE-->
  <div class="row">
    <div class="col">
      <table mat-table [dataSource]="dataSource" class="col-12">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> ITEM </th>
          <td mat-cell *matCellDef="let element"  > {{element.item}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Bridgewatch </th>
          <td mat-cell *matCellDef="let element"
          [ngClass]="{
            'min-val': element.min === element.Bridgewatch ,
            'max-val': element.max === element.Bridgewatch
          }"> {{element.Bridgewatch}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> FortSterling</th>
          <td mat-cell *matCellDef="let element"
          [ngClass]="{
            'min-val': element.min === element.FortSterling ,
            'max-val': element.max === element.FortSterling
          }"> {{element.FortSterling}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Lymhurst </th>
          <td mat-cell *matCellDef="let element"
          [ngClass]="{
            'min-val': element.min === element.Lymhurst ,
            'max-val': element.max === element.Lymhurst
          }"> {{element.Lymhurst}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol2">
          <th mat-header-cell *matHeaderCellDef> Thetford </th>
          <td mat-cell *matCellDef="let element"
          [ngClass]="{
            'min-val': element.min === element.Thetford ,
            'max-val': element.max === element.Thetford
          }"> {{element.Thetford}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol3">
          <th mat-header-cell *matHeaderCellDef> Martlock </th>
          <td mat-cell *matCellDef="let element"
          [ngClass]="{
            'min-val': element.min === element.Martlock ,
            'max-val': element.max === element.Martlock
          }"> {{element.Martlock}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol4">
          <th mat-header-cell *matHeaderCellDef> Ganancia </th>
          <td mat-cell *matCellDef="let element" > {{element.ganancia}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
